<footer>
    <div class="container" style="padding: 50px 0">
        <div class="row">
            <div class="col">
                <img src="/images/assets/logo_amdt.png"
                    style="margin-bottom: 40px; width:216px; height:144px; margin-left: 27px;" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-block">
                    It is a long established fact that a<br> reader will be distracted by the<br> readable content of a
                    page when <br>looking at its
                    layout. The point of <br>using Lorem Ipsum is that it has a<br> more-or-less normal distribution of
                    letters
                </p>
            </div>
            <div class="col">
                <h3 class="section-heading">Contact Information</h3>
                <br>
                <p>317, Galle Road, Colombo 04, <br>Sri Lanka</p>
                <br>
                <p>+94 114 381 981</p>
            </div>

            <div class="col">
                <h3 class="section-heading">
                    Subscribe to email updates
                </h3>
                <br>
                <p>Sign up to our newsletter.we’ll send you <br>occasional and friendly updates.</p>
                <br>
                <div class="row footer-subscribe">
                    <div class="col-8">
                        type your email
                    </div>
                    <div class="col-4">Subscribe</div>
                </div>
            </div>



        </div>
        <div class="d-flex justify-content-center row text-center py-3">
            <p>
                &copy; 2020 Copyright
            </p>
        </div>
    </div>
</footer>

 