
<footer id="Amdt-footer-bar">

    <div class="raw" style="background-color:#F5C532" ;>
        <div class="col-md-4">
            <img src="images/assets/logo_amdt.png"
                style="margin-bottom: 40px; width:216px; height:144px; margin-left: 27px;" />
            <p style="text-align: left; margin-left: 58px;font-size:12px;">
                It is a long established fact that a<br> reader will be distracted by the<br> readable content of a
                page when <br>looking at its
                layout. The point of <br>using Lorem Ipsum is that it has a<br> more-or-less normal distribution of
                letters
            </p>

        </div>
        <div class="col-md-4">
            <p style="text-align: left; margin-left: 58px; top: 250px; left: 140px;">
                Contact Information


            </p>


        </div>



    </div>
</footer>