
<footer id="Amdt-footer-bar">

    <div class="raw" style="background-color:#F5C532" ;>
        <div class="col-md-4">
            <img src="images/assets/logo_amdt.png"
                style="margin-bottom: 40px; width:216px; height:144px; margin-left: 27px;" />
            <p style="text-align: left; margin-left: 58px;font-size:12px;">
                It is a long established fact that a<br> reader will be distracted by the<br> readable content of a
                page when <br>looking at its
                layout. The point of <br>using Lorem Ipsum is that it has a<br> more-or-less normal distribution of
                letters
            </p>

        </div>
       <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="client/assets/G1.png" />
        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
      </div>
      <div class="col-sm">
        <img src="client/assets/G2.png" />
        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
      </div>
     
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm">     
       
        <p style="position: absolute; top: 250px; left: 140px;">Contact Information</p>
      </div>
      <div class="col-sm">
       
        <p style="position: absolute; top: 250px; left: 140px;">317,Galle Road, Colombo 04,<br>Sri Lanka</p>
      </div>
      <div class="col-sm">
        
        <p style="position: absolute; top: 250px; left: 140px;">+ 94 114 381 881</p>
      </div>
    </div>
  </div>

    </div>
</footer>