<footer>
    <div class="container" style="padding: 50px 0">
        <div class="row">
            <div class="col">
                <img src="/images/assets/logo_amdt.png"
                    style="margin-bottom: 40px; width:216px; height:144px; margin-left: 27px;" />
            </div>
        </div>
     
<footer class="page-footer font-small blue pt-4">

  
  <div class="container-fluid text-center text-md-left">

   
    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

       
       
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      

      <hr class="clearfix w-100 d-md-none pb-3">

      
      <div class="col-md-3 mb-md-0 mb-3">

       
        <h5 class="text-uppercase">Conatct Information</h5>

        <ul class="list-unstyled">
          <li>
            <a>317, Galle Road, Colombo 04</a>
          </li>
          <li>
            <a>+ 94 114 381 981</a>
          </li>
          
        </ul>

      </div>
      
      
      <div class="col-md-3 mb-md-0 mb-3">

       
        <h5 class="text-uppercase">Subscribe to email updates</h5>

        <ul class="list-unstyled">
          <li>
            <a>Sign up to our newsletter.we’ll send you
                occasional and friendly updates.</a>
          </li>
          <li>
            
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="ter-copyright text-center py-3">© 2020 Copyright:
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
           
           
            
        </div>
    </div>
</footer>