<footer>
    <div class="container" style="padding: 50px 0">
        <div class="row">
            <div class="col">
                <img src="/images/assets/logo_amdt.png"
                    style="margin-bottom: 40px; width:216px; height:144px; margin-left: 27px;" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-block">
                    It is a long established fact that a<br> reader will be distracted by the<br> readable content of a
                    page when <br>looking at its
                    layout. The point of <br>using Lorem Ipsum is that it has a<br> more-or-less normal distribution of
                    letters
                </p>
            </div>
            <div class="row">
            <div class="col-md-4">
                <h3 class="section-heading">
                    Contact Information
                    </h3>
                    <p>317,Galle Road,Colombo 04,Sri Lanka </p>

                </div>
            
            <div class="col-md-4">
                <h3 class="section-heading">
                    Subscribe to email updates
                </h3>
           
            </div>
             </div>
           
           
            
        </div>
    </div>
</footer>