<header>
    <div class="col-md-12 container-fluid">
        <div class="row">
            <div class="logo"> <img src="images/assets/AMDT-School-of-Creativity-logo.png" class="logo-top" alt=>
            </div>
            <div class="navigation">
                <nav class="nav-d-flex-center">
                    <a class=" col-md-2 navbar_amdt" href="courses.html">Courses</a>
                    <a class="col-md-2 navbar_amdt" href="our_story.html">Our Story</a>
                    <a class="col-md-2 navbar_amdt" href="about_the_developer.html">About The Developer</a>
                    <a class="col-md-2 navbar_amdt" href="contact.html">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</header>