<div style="position:relative">
    <div class="d-flex justify-content-center">
        <div style="position:absolute">
            <header class="container-fluid ">
                <div class="row">
                    <div class="logo">
                        <a href="/">
                            <img src="/images/assets/AMDT-School-of-Creativity-logo.png" class="logo-top"
                                alt="AMDT logo">
                        </a>
                    </div>
                    <div class="navigation">
                        <nav class="nav-d-flex-center">
                            <a class=" col-md-2 navbar_amdt" href="/courses">Courses</a>
                            <a class="col-md-2 navbar_amdt" href="/our_story">Our Story</a>
                            <a class="col-md-2 navbar_amdt" href="/about_the_developer">About The Developer</a>
                            <a class="col-md-2 navbar_amdt" href="/contact">Contact</a>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>