<div>
    <div>
        <section class="hero">
           <h1 class="nam" style="text-align: center; padding-top: 100px; font-size: 100px;">Sudeshini Thenuwara</h1>
        </section>
    </div>
    <div>
        <div style="position: relative;">
            <div class="d-flex justify-content-center">
                <div style="position: absolute;">
                    
                        <div class="d-flex justify-content-center mb-5"
                        <h2 class="uk" >
                            Web and App- Second year student
                        </h2>
                        <h2 class="por" style="margin-right 10px ;">Portfolio</h2>
                    </div>
                    <div class="row" style="width:-100px;">
                        <div class="mb-5">
                        <div class="col">
                        </div>
</div>
      </div>              
      </div>
                </div>
            </div>
        </div>
    </div>
    
            
        </div>
        <div>

            <div class="d-flex justify-content-center mb-5">
                         <p>  <a>   UI&UX | </a>  </p>
                        <a>Illustration |</a>
                        <a>Creatives </a></h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img src="images/assets/763e3881437565.5cffb29ddd2ca.png"/>
                        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
                    </div>
                    <div class="col-sm">
                        <img src="images/assets/0c482883907999.5d4ae613d3963.png" />
                        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
                    </div>
                    <div class="col-sm">
                        <img src="images/assets/e0c41482903929.5d2c4f7287dd9.jpg" style="margin-top: 10px;" />
                        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm">
                        <img src="images/assets/9539a283907999.5d4ae613d2668.jpg" />
                        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
                    </div>
                    <div class="col-sm">
                        <img src="images/assets/67042c82422661.5d1cd9c9042ae.jpg" />
                        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
                    </div>
                    <div class="col-sm">
                        <img src="images/assets/e0c41482903929.5d2c4f7287dd9.jpg" style="margin-top: 40px;" />
                        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center m-5">
                <button onclick="location.href='/courses'" class="btn btn-outline-dark more-btn">View More </button>
            </div>
        </div>

        
</div>