<div style="margin-top: 30vh;"></div>
    <div>
        <section class="hero">
            
        </section>
    </div>
    <div>
        <div style="position: relative;">
            <div class="d-flex justify-content-center">
                <div style="position: absolute;">
                   
                        <h2 class="uk" style="font-size: 80px; margin-top:55px;">
                            Need Help from Us?
                        </h2>
                    
                </div>
            </div>
        </div>
    </div>
   
        <div class="mb-5">
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
            
        </div>
        <div>

            <div class="d-flex justify-content-center mb-5">
                
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="margin-top: 250px;;">
                        <img src="images/assets/undraw_browsing_online_sr8c.png" />
                        
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="margin-top: 250px;">
                            <form>
 <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">Put it here your Full name.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">address</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Message</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" style="background-color:#F5C532; height: 63px; width: 461px; border-radius: 4px;">Submit</button>
</form>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">

                            <div class="col"><li class="tt" style="margin-bottom: 100px;;"> <h2 class="rr" style="margin-bottom: 25px; padding-top:35px;">Call Us<br> 011-234 123 25</h2></li>
                                
                                
                                <div class="col"><li class="tt" style="margin-bottom: 100px;;"> <h2 class="rr" style="margin-bottom: 45px;padding-top:10px;;">E mail<br> amdt@lk</h2></li></div>
                                <img src="images/assets/Path 4.png" />
                            </div>
                          

                            
                                
                           
                        </div>
                    </div>
                    
        
                </div>

            </div>
        </div>
    </div>
</div>