
    <div class="background">       
      <h1 class="ccc" style="font-size: 108px; text-align:center; margin-top:100px">Creative Career Courses</h1>
     </div>  

    
  
    
  <div class="container">
    <div class="row" style="padding: 30px;">
      <div class="col-sm">
        <img src="images/assets/G1.png" />
        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
      </div>
      <div class="col-sm">
        <img src="images/assets/G2.png" />
        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
      </div>
      <div class="col-sm">
        <img src="images/assets/G3.png" style="margin-top: 10px;"/>
        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm">     
        <img src="images/assets/G4.png" />
        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
      </div>
      <div class="col-sm">
        <img src="images/assets/G5.png" />
        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
      </div>
      <div class="col-sm">
        <img src="images/assets/G6.png" style="margin-top: 40px;"/>
        <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
      </div>
    </div>
  </div>
