<div class="background">
    <img src="images/assets/hero_image.png" class="image-float-center" alt="Responsive image">
</div>

<div class="row maindiv">
    <div class="col-md-3"></div>
    <div class="col-md-6 textCon">
        <div class="bg">
            <h2 class="uk">
                UK Creative Degrees from Falmouth
                University Register For Sep 2020
            </h2>
        </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-6 textCon">

        <p>
            #WeAreAMDT and we are Sri Lanka’s Creative community. Join our march towards making Sri Lanka Creative.
            Discover the variety of Creative degrees from Falmouth University UK and BTEC HNDs from Pearson UK
        </p>
        <div class="btn">View More</div>
    </div>
    <h2 class="xx" style="text-align: center;">Creative Career Courses</h2>

    <div class="col-md-3"> </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="images/assets/G1.png" />
            <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
        </div>
        <div class="col-sm">
            <img src="images/assets/G2.png" />
            <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
        </div>
        <div class="col-sm">
            <img src="images/assets/G3.png" style="margin-top: 10px;" />
            <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <img src="images/assets/G4.png" />
            <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
        </div>
        <div class="col-sm">
            <img src="images/assets/G5.png" />
            <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
        </div>
        <div class="col-sm">
            <img src="images/assets/G6.png" style="margin-top: 40px;" />
            <p style="position: absolute; top: 250px; left: 140px;">BA(Hons)<br>Graphic Design</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">

        <div class="col-sm">
            <h2>Testermonial</h2>
            <img src="images/assets/tes.png"
                style="margin-bottom: 50px; width:100px; height:100px; margin-left: 500px;" />
            <p>
                “ It is a long established fact that a reader will be distracted by the readable<br> content of a
                page when looking at its layout. The point of using Lorem Ipsum is<br> that it has a more-or-less
                normal distribution “</p>
            <p>
                <b>Marie Hanson</b><br>
                Student - 2nd Year’18
            </p>
        </div>

    </div>
</div>


<div id="Amdt-footer-bar">

    <div class="raw" style="background-color:#F5C532" ;>
        <div class="col-md-4">
            <img src="images/assets/logo_amdt.png"
                style="margin-bottom: 40px; width:216px; height:144px; margin-left: 27px;" />
            <p style="text-align: left; margin-left: 58px;font-size:12px;">
                It is a long established fact that a<br> reader will be distracted by the<br> readable content of a
                page when <br>looking at its
                layout. The point of <br>using Lorem Ipsum is that it has a<br> more-or-less normal distribution of
                letters
            </p>

        </div>
        <div class="col-md-4">
            <p style="text-align: left; margin-left: 58px; top: 250px; left: 140px;">
                Contact Information


            </p>


        </div>



    </div>
</div>