<div>
    <div>
        <section class="hero">
           <h1 class="nam" style="font-size: 108px; text-align:center; margin-top:100px">Our Story</h1>
        </section>
    </div>
    <div>
        <div style="position: relative;">
            <div class="d-flex justify-content-center">
                <div style="position: absolute;">
                    <div class="stand-out-bg">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-green">
        <div class="mb-5">
            <div class="row">
                <div class="col">
                    <p class="tes" style="text-align: center;">
                        In 2005, two Artrepreneurs decided it was<br> time to prove everyone who thought that<br> Creative people cannot have successful<br> careers, wrong. And the ‘AMDT School of<br> Creativity’ was born.
                        
                    </p>
                    
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="amdtlg"><img src="images/assets/amdt-logo-full-1536x865.png"></div>
                    </div>
                    
                        <div class="col-6">
                            <p class="tes2" style="align-content:left" >
                                Our hands-on course curriculum is taught by some of the finest minds working in today’s Creative industries with numerous years of 
                                experience working with many brands and projects. So you learn what exactly you need. They will help you develop your talent, obtain skills, and build-up your personality to face your career and life.
                                AMDT School of Creativity’s vision is to make Sri Lanka a Creative country and to empower Sri Lanka’s Creative communities with talented and motivated people, to build impactful Creative enterprises.
                            </p>
                        
                        <div class="img3"><img src="images/assets/two-artrepreneurs-our-story-1536x1206.jpg"></div>
                        <div class="bg2" style="z-index: 2; margin-top:px;><img src="images/assets/Path 3.png"></div>
                    </div>
                </div>
            </div>
            
        </div>
     </div>

           
</div>